.Rproj.user

# Task cache
.task

# cache files
.cache

# Generated Makefiles
src/Makevars
src/Makevars.win

# Copied files
src/rust-toolchain.toml

# altdoc stuff
altdoc/freeze.rds
docs
.venv_altdoc
altdoc/reference_home.md
