[package]
name = 'r-polars'   # r-polars
version = '0.1.0' # this version no is not used
edition = '2021'


[lib]
crate-type = [ 'staticlib' ]

[workspace]
# prevents package from thinking it's in the workspace
[target.'cfg(any(not(target_os = "linux"), use_mimalloc))'.dependencies]
mimalloc = { version = "0.1.34", default-features = false }

[target.'cfg(all(target_os = "linux", not(use_mimalloc)))'.dependencies]
jemallocator = { version = "0.5.0", features = [ "disable_initial_exec_tls" ] }

[dependencies]
extendr-api = { git = "https://github.com/rpolars/extendr", branch = "errorhandling", default-features = false, features = [ "result_list", "serde" ] }
#extendr-api = {path = "../../../extendr/extendr-api", default-features = false, features= ["result_list"]}
flume = "0.10.14"
indenter = "0.3.3"
ipc-channel = "0.16.1"
polars-core = { git = "https://github.com/pola-rs/polars.git", rev = "e973f6386a28f16136fb8ba5a737103f95911861", default_features = false }
rayon = "1.6.1"
serde = { version = "1.0.164", features = [ "derive" ] }
serde_json = "*"
smartstring = "1.0.1"
state = "0.5.3"
thiserror = "1.0.40"

#try to trigger new hashFiles hash value


#features copied from node-polars
[dependencies.polars]
features = [
  "rolling_window",
  "json",
  "dynamic_groupby",
  "zip_with",
  "simd",
  "lazy",
  "strings",
  "temporal",
  "random",
  "object",
  "csv",
  "fmt",
  "performant",
  "dtype-full",
  "rows",
  "private",
  "round_series",
  "is_in",
  "is_first",
  "asof_join",
  "cross_join",
  "dot_product",
  "concat_str",
  "row_hash",
  "reinterpret",
  "decompress-fast",
  "mode",
  "extract_jsonpath",
  "lazy_regex",
  "cum_agg",
  "rolling_window",
  "repeat_by",
  "interpolate",
  #"list",
  "ewma",
  "rank",
  "diff",
  "pct_change",
  "moment",
  "arange",
  "true_div",
  "dtype-categorical",
  "diagonal_concat",
  "horizontal_concat",
  "abs",
  "dot_diagram",
  "dataframe_arithmetic",
  "json",
  "string_encoding",
  "product",
  "ndarray",
  "unique_counts",
  "log",
  "serde-lazy",
  "partition_by",
  "pivot",
  "semi_anti_join",
  "parquet",
  "to_dummies",
  "ipc",
  "avro",
  "list_eval",
  "arg_where",
  #extra features since copy from node-polars
  "top_k",
  "search_sorted",
  "propagate_nans",
  "trigonometry",
  "sign",
  "cumulative_eval",
  "list_eval",
  "list_to_struct",
  "list_take",
  "timezones",
  "date_offset",
  "dtype-date",
  "dtype-datetime",
  "dtype-time",
  "dtype-duration",
  "date_offset",
  "string_justify",
  "is_unique",
  "binary_encoding",
  "string_from_radix",
  "meta",
  "approx_unique",
  ]
default-features = false
git = "https://github.com/pola-rs/polars.git"
rev = "e973f6386a28f16136fb8ba5a737103f95911861"
