name: Build documentation

on:
  push:
    branches:
      - main
    paths:
      - .github/workflows/docs.yaml
      - altdoc/**
      - man/**
      - R/**
      - src/**
      - tests/**
      - tools/**
      - vignettes/*
      - configure*
      - DESCRIPTION
      - NAMESPACE
      - README.md
      - NEWS.md
  pull_request:
    branches:
      - main
    paths:
      - .github/workflows/docs.yaml
      - altdoc/**
      - man/**
      - R/**
      - src/**
      - tests/**
      - tools/**
      - vignettes/*
      - configure*
      - DESCRIPTION
      - NAMESPACE
      - README.md
      - NEWS.md
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

env:
  GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
  R_KEEP_PKG_SOURCE: yes
  NOT_CRAN: "true"

jobs:
  build-docs:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4

      - uses: r-lib/actions/setup-pandoc@v2

      - uses: r-lib/actions/setup-r@v2
        with:
          r-version: release
          use-public-rspm: true
          Ncpus: 2

      - uses: actions/setup-python@v5
        with:
          python-version: 3.x

      - uses: quarto-dev/quarto-actions/setup@v2

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          needs: website
          cache: "always"

      - name: Install Task
        uses: arduino/setup-task@v2
        with:
          version: 3.x
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup Python tools
        run: |
          task setup-python-tools

      - name: Setup Pages
        uses: actions/configure-pages@v5

      - id: rust-target
        name: Set Rust target
        run: |
          echo "TARGET=$(rustc -vV | grep host | cut -d' ' -f2)" >>"$GITHUB_OUTPUT"

      - uses: Swatinem/rust-cache@v2
        with:
          workspaces: "src/rust -> target"
          shared-key: ${{ steps.rust-target.outputs.TARGET }}-debug-nightly

      - name: Build lib
        env:
          LIBR_POLARS_BUILD: "true"
          LIBR_POLARS_FEATURES: nightly
        run: |
          # make sure savvy is built from source because rust-cache doesn't work well.
          (find ~/.cargo/registry/ src/rust/target -name 'savvy-*' -print0 | xargs -0 rm -rf) || true
          Rscript -e "pkgbuild::compile_dll(debug = TRUE)"

      - name: Install package
        id: install-package
        env:
          DEBUG: "true"
          LIBR_POLARS_FEATURES: nightly
        run: |
          R CMD INSTALL --no-multiarch --with-keep.source .

      - name: Build docs
        id: build-docs
        shell: Rscript {0}
        run: |
          library(polars)
          rmarkdown::render("altdoc/reference_home.Rmd")
          future::plan(future::multicore)
          altdoc::render_docs(freeze = FALSE, parallel = TRUE, verbose = TRUE)
          source("altdoc/altdoc_postprocessing.R")

      - name: upload docs
        if: always()
        uses: actions/upload-pages-artifact@v3
        with:
          path: docs

  deploy-docs:
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build-docs
    if: ${{ (github.event_name != 'pull_request') }}
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
