# Workflow derived from https://github.com/r-lib/actions/tree/v2/examples
# Need help debugging build failures? Start at https://github.com/r-lib/actions#where-to-find-help
on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]

name: R-CMD-check

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  R-CMD-check:
    runs-on: ${{ matrix.config.os }}

    name: ${{ matrix.config.os }} (${{ matrix.config.r }})

    strategy:
      fail-fast: false
      matrix:
        config:
          - { os: macos-latest, r: "release" }
          - { os: windows-latest, r: "release", rtools-version: "42" }
          #- {os: ubuntu-latest,   r: 'devel', http-user-agent: 'release'}
          - { os: ubuntu-latest, r: "release" }
          #- {os: ubuntu-latest,   r: 'oldrel-1'}

    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
      R_KEEP_PKG_SOURCE: yes

    steps:
      - uses: actions/checkout@v3

      - name: Fix path for Windows caching
        if: runner.os == 'Windows'
        shell: bash
        run: echo "C:/Program Files/Git/usr/bin" >> $GITHUB_PATH

      - name: cache rpolars rust targets
        id: cache-rust-targets
        uses: actions/cache@v3
        env:
          cache-name: cache-rust-targets
        with:
          path: ./src/rust/target/
          key: key_v2-${{ runner.os }}-cargo-target-${{ hashFiles('./src/rust/Cargo.toml') }}
          restore-keys: |
            key_v2-${{ runner.os }}-cargo-target-${{ hashFiles('./src/rust/Cargo.toml') }}
            key_v2-${{ runner.os }}-cargo-target

      - run: echo "rust-toolchain=nightly" >>"$GITHUB_ENV"
      - run: echo "rust-toolchain=nightly-gnu" >>$env:GITHUB_ENV
        if: runner.os == 'Windows'

      - name: Set up Rust
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ env.rust-toolchain }}

      - uses: r-lib/actions/setup-pandoc@v2

      - uses: r-lib/actions/setup-r@v2
        with:
          r-version: ${{ matrix.config.r }}
          http-user-agent: ${{ matrix.config.http-user-agent }}
          use-public-rspm: true
          rtools-version: ${{ matrix.config.rtools-version }}

      - name: Install ubuntu SYSTEM REQUIREMENTS
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update \
          && sudo apt-get install -y \
            libfontconfig1-dev \
            libfreetype6-dev \
            libfribidi-dev \
            libharfbuzz-dev \
            libcurl4-openssl-dev \
            libgit2-dev \
            libicu-dev \
            libjpeg-dev \
            libpng-dev \
            libtiff-dev \
            libxml2-dev \
            libssl-dev

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: any::rcmdcheck
          needs: check
          pak-version: devel
        env:
          CI: false

      - name: find rpolars rust source
        id: get_the_rust_sauce
        run: |
          echo "rpolars_rust_source=${PWD}/src/rust" >> $GITHUB_ENV
          echo "rpolars_rust_source=${PWD}/src/rust"

      - uses: r-lib/actions/check-r-package@v2
        with:
          upload-snapshots: false
          error-on: '"never"'
        env:
          RPOLARS_RUST_SOURCE: ${{ env.rpolars_rust_source }}

      - name: print check install log linux / windows
        if: runner.os != 'macOS'
        shell: bash
        run: |
          less /home/runner/work/r-polars/r-polars/check/rpolars.Rcheck/00install.out

      - name: print check install MacOS
        if: runner.os == 'macOS'
        run: |
          less /Users/runner/work/r-polars/r-polars/check/rpolars.Rcheck/00install.out
